.feedbackContainer{
  max-width: 1150px;
  margin: auto;
}
.titleContainer {
  margin: 2rem 0 1.5rem ;
}
.titleContainer > span {
  font-size: 2.75rem;
  font-weight: 600;
}
.titleContainer > img {
  width: 2.75rem;
  margin-right: 2rem;
  transform: translateY(+12.5%);
}
.titleContainer > p {
  font-weight: 300;
  font-size: 1.8rem;
  color: #bbbbbb;
  margin-top: 1rem;
}
.resultadosEspecificos{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1.2rem auto 1.5rem;
  border-bottom: 1px solid #DFE5EE;
}

@media (max-width: 810px){
  .titleContainer {
    width: fit-content;
    margin: 1rem auto .8rem;
   margin-bottom: 2.5rem;
  }
}

@media (max-width: 330px){
  .titleContainer>span{
    font-size: 2.5rem;
  }
}
