
.homeContainer{
  max-width: 1400px;
  margin: auto;
  padding: 0 1rem 2rem;
}
.titlesContainer {
  display: flex;
  justify-content: center;
}
.titlesContainer > p {
  font-size: 2.2rem;
  font-weight: 700;
  color: #3f3d56;
}
.titlesContainer > p:nth-child(1) {
  text-align: end;
  border-right: 1px solid #dfe5ee;
  padding: 0 2.5rem;
  margin-right: 2.5rem;
}

.titlesContainer > p > strong {
  color: #905cff;
  font-weight: 800;
}
.imagesContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.imagesContainer > img {
  /* width: 18vw; */
  height: 25vh;
  margin: 3rem 7.5vw;
}
.infoButtonContainer {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 3rem;
  justify-items: center;
  align-items: center;
}
.infoButtonContainer > div > h4 {
  color: #3f3d56;
  font-size: 1.6rem;
  margin-bottom: 0.75rem;
}
.infoButtonContainer > div > p {
  color: #bbbbbb;
  font-size: 1.1rem;
  text-align: justify;
  padding-right: 20%;
}
.infoButtonContainer p > strong {
  color: #905cff;
}
.startButton {
  margin: 2rem 0 0;
  font-size: 1.5rem;
  font-weight: 500;
  padding: .5rem 2rem;
  border-radius: 0.2rem;
  border: 1px solid #905cff;
  transform: translateX(+50%);

  color: white;
  background: #905cff;
  transition: 0.2s;
}
.startButton:hover {
  cursor: pointer;

  background: white;
  color: #905cff;
  border: 1px solid #905cff;
  transition: 0.2s;
}
@media (max-width: 850px) {
  .titlesContainer > p {
    font-size: 2rem;
  }
}

@media (max-width: 715px) {
  .titlesContainer > p {
    font-size: 1.65rem;
  }
  .infoButtonContainer > div > p {
    font-size: 1rem;
  }
  .imagesContainer > img {
    /* width: 18vw; */
    height: 20vh;
    margin: 3rem 7.5vw;
  }
  .startButton{
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
  }
  
}

@media (max-width: 600px){
  .infoButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }
  .infoButtonContainer >div> p{
    padding: 0 10%;
  }
  .infoButtonContainer >div>h4{
    text-align: center;
  }
  .startButton{
    justify-self: center;
    transform: none
  }
}

@media (max-width: 450px){
  .startButton{
    margin: 0;
  }

  .imagesContainer > img {
    /* width: 18vw; */
    height: 17.5vh;
    margin: 3rem 7.5vw;
  }
}

@media (max-width: 400px){
  .titlesContainer>p{
    font-size: 1.45rem;
  }
}
@media (min-width: 376px){
  .titlesContainer{
    transform: translateX(-5%);
  }
}

@media (max-width: 375px){
  .imagesContainer,.titlesContainer{
    display: flex;
    flex-direction: column;
  }
  .imagesContainer>img:nth-child(1){
    display: none;
  }
  .imagesContainer>img{
    height: 25vh;
  }
  .titlesContainer>p,.titlesContainer>p:nth-child(1){
    text-align: center;
    font-size: 1.5rem;
    padding: 0;
    margin: 0 0 1rem;
    border-right: none;
  }
}