.containerTotal {
  max-width: 1200px;
  margin: auto;
}
.voltarButton {
  background: white;
  color: #bbbbbb;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  outline: none;
  font-size: 1.5rem;
  padding: 0.2rem 0.75rem;
  cursor: pointer;
  transition: 0.2s;
}
.voltarButton:hover {
  color: white;
  background: #905cff;
  border: 1px solid white;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.faculdade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center center;
}
.faculdade > img {
  height: 10vw;
}
.faculdade > div > img {
  width: 3rem;
  margin-right: 1rem;
  transform: translateY(+10%);
}
.faculdade > div > span {
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 1.5;
}
.faculdade > div > p {
  font-size: 2rem;
  font-weight: 200;
  color: #bbbbbb;
}
.anos {
  display: flex;
  margin-top: 10rem;
  justify-content: space-around;
}
.anos > div {
  font-size: 3.5rem;
  font-weight: 700;
  color: #905cff;
  cursor: pointer;
  padding: 2rem 0.5rem;
  background: url("/icons/hexagonoGrayThick.svg") no-repeat center;
  /* background-size: contain;  */
  background-size: 75%;
  transition: 0.2s;
}
.anos > div:hover {
  transform: scale(1.1);
}

@media (max-width: 1250px) {
  .voltarButton {
    margin-left: 2rem;
  }
}
@media (max-width: 600px) {
  .faculdade > div {
    margin-left: 7.5vw;
  }
  .faculdade > img {
    height: 20vw;
  }
}
@media (max-width: 425px) {
  .faculdade > div > span {
    font-size: 2.5rem;
  }
}
@media (max-width: 375px) {
  .faculdade > div > span {
    font-size: 3.25rem;
  }
}
@media (max-width: 375px){
  .faculdade > div > span{
    font-size: 2.5rem;
  }
  .faculdade > div> p{
    font-size: 1.75rem;
  }
}